/* Styling for the contact section */
.contact {
  background-color: black;
  padding: 1px 0;
  text-align: center;
}

.contact h5 {
  color: #999;
  font-size: 0.8rem;
}

.contact h1 {
  font-size: 3rem;
  margin-bottom: 30px;
  color: white;
}

.contact_container {
  display: flex;
  justify-content: center; 
  gap: 2rem;
}

.contact_options {
  display: flex;
  gap: 1.2rem; 
}

.contact_option {
  background-color: #333;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin-bottom: 40px;
  color: white;
  border: 2px solid #925697;
}

.contact_option h4 {
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 10px;
  color: white;
  margin-left: 0px;
}

.contact_option h5 {
  color: white;
}

.contact_option a {
  color: #007bff;
  text-decoration: none;
  margin-top: 10px;
}

.contact_option a:hover {
  text-decoration: underline;
}

.contact_option svg {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #007bff;
}


@media (max-width: 768px) {
  .contact_options {
    flex-direction: column; 
    align-items: center;
  }

  .contact_option {
    margin-left: 15px;
  }
  .contact h1 {
    font-size: 2rem;
  }
}
